
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

// Color variables
$white: #ffffff;

$primary: #22D6CD;
$success: #02c58d;
$info: #59c6fb;
$warning: #fcbe2d;
$danger: #fc5454;
$dark: #2b354f;
$muted: #9ca8b3;
$secondary:#616f80;
$light:#f0f4f7;
$dark:#354558;

// Gray Colors
$gray-100:                  #f0f4f7;
$gray-200:                  #e9ecef;
$gray-300:                  #dee2e6;
$gray-400:                  #ced4da;
$gray-500:                  #adb5bd;
$gray-600:                  #616f80;
$gray-700:                  #495057;
$gray-800:                  #354558;
$gray-900:                  #212529;

$bg-body: #f9f9f9;
$body-color: #354558;
$left-bar: #22D6CD;
$topbar-background: #ffffff;
$topbar-search-background: #f0f4f7;
$footer-background: #ffffff;

// light leftbar

$light-leftbar:                     #ffffff;
$light-leftbar-menu-active-color:   #4090cb;
$topbar-background-dark:            #383c40;

$font-family: 'Poppins', sans-serif;
$font-family-secondary: 'Poppins', sans-serif;

$shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);

$base-font: 13px;

// Width variables
$width: 100%;

// Height variables
$height: 100%;

$leftbar-menu-color: #7e8cda;
$leftbar-menu-hover-color: #ffffff;
$leftbar-menu-active-color: #ffffff;